* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 50px;
}

nav a:link, a:visited, a:active, a:hover {
    color: black;
}

.button1 {
    width: auto;
    height: 30px;
    margin: 10px;
    padding: 5px 10px;
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    border: 1px solid #4285f4;
    vertical-align: middle;
}

.gborder {
    width: 30px;
    padding: 2px;
    margin: 10px;
    vertical-align: middle;
}

.navtop1 {
    float: left;
    padding-top: 15px;
}
.navtop2 {
    float: right;
}

#navtext {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.logo {
    display: block;
    margin-top:150px;
    margin-left: auto;
    margin-right: auto;
    width: 272;
}

input {
    width: 450px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid black;
    border-radius: 25px;
}

.button2 {
    margin-top: 20px;
    font-size: 15px;
    padding: 5px;
    border: none;
}

form button:hover {
    
}

.center {
    text-align: center;
}

a.grey{
    color:rgb(100, 100, 100);
    margin-right: 20px;
}

footer {
    background-color: rgba(200, 200, 200, 0.2);
    height: 40px;
    width: 100%;
    margin: 240px 0px 0px 0px;
    padding: 5px 5px 0px 20px;
    color: rgb(100, 100, 100);
    border-top: 1px solid lightgrey;
}

#p2 {
    height: 40px;
    padding: 8px 15px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.nav1 {
    float: left;
}
.nav2 {
    float: right;
}